{% extends "index.html" %}
{% block content %}
  <div class="text-center mb-5 animate__animated animate__fadeIn">
    <h1>Welcome to MedManager</h1>
    <p class="lead">Your health data at a glance</p>
  </div>

  <div class="row text-center mb-4">
    <div class="col-md-4 animate__animated animate__zoomIn">
      <div class="card p-3 shadow-sm">
        <h5>Total Clients</h5>
        <p class="fs-3">{{ total_clients }}</p>
      </div>
    </div>
    <div class="col-md-4 animate__animated animate__zoomIn" style="animation-delay:0.2s">
      <div class="card p-3 shadow-sm">
        <h5>Total Programs</h5>
        <p class="fs-3">{{ total_programs }}</p>
      </div>
    </div>
    <div class="col-md-4 animate__animated animate__zoomIn" style="animation-delay:0.4s">
      <div class="card p-3 shadow-sm">
        <h5>Enrolled Clients</h5>
        <p class="fs-3">{{ enrolled_clients }}</p>
      </div>
    </div>
  </div>

  <div class="card mb-5 p-4 shadow-sm animate__animated animate__fadeInUp">
    <canvas id="programChart"
      data-labels='{{ program_labels|tojson }}'
      data-counts='{{ program_counts|tojson }}'
      data-colors='{{ program_colors|tojson }}'></canvas>
  </div>

  <div class="card mb-5 p-4 shadow-sm animate__animated animate__fadeInUp" style="animation-delay:0.2s">
    <h5>Program Distribution</h5>
    <canvas id="programPie"
      data-labels='{{ program_labels|tojson }}'
      data-counts='{{ program_counts|tojson }}'
      data-colors='{{ program_colors|tojson }}'></canvas>
  </div>
{% endblock %}
