{% extends "index.html" %}
{% block content %}
  <h2 class="mb-4">Dashboard</h2>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="card shadow-sm p-3 mb-4">
        <h5>Total Clients</h5>
        <p class="fs-3">24</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm p-3 mb-4">
        <h5>Programs</h5>
        <p class="fs-3">5</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm p-3 mb-4">
        <h5>Enrolled Clients</h5>
        <p class="fs-3">19</p>
      </div>
    </div>
  </div>
{% endblock %}
