{% extends "index.html" %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Health Programs</h2>
    <button class="btn btn-success">+ Add Program</button>
  </div>

  <div class="row g-3">
    <div class="col-md-4">
      <div class="card p-3 shadow-sm">
        <h5>HIV</h5>
        <span class="badge bg-success">Active</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3 shadow-sm">
        <h5>Malaria</h5>
        <span class="badge bg-warning text-dark">Active</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3 shadow-sm">
        <h5>TB</h5>
        <span class="badge bg-danger">Critical</span>
      </div>
    </div>
  </div>
{% endblock %}
